.scoreboard {
	display: flex;
	justify-content: center;

	h3 {
		text-transform: uppercase;
		font-size: px;
		font-weight: 800;
		text-align: center;
		margin-bottom: -30px;
	}
}

.title {
	text-align: center;
}

.points-container {
	display: inline-flex;
}
.points p {
	font-family: 'Orbitron', sans-serif;
	font-weight: 400;
	font-size: 80px;
	background: #000;
	min-width: 205px;
	margin-right: 25px;
	text-align: center;
	border-radius: 15px;
}

#xPlayer {
	color: $red;
}

#oPlayer {
	color: $blue;
}

.scoreboard > div > div:nth-child(1) {
	margin-right: 15px;
}

